@use "./tools";

body {
	@include tools.flex_center;
	height: 100vh;
	width: 100vw;
	background-color: rgb(39, 24, 24);
	margin: 0;

	& > #main_container {
		@include tools.flex_center;
		height: 80%;
		width: 60%;

		background-color: rgb(145, 123, 3);
	}

	& .answer {
		display: none;
		flex-direction: column;
		background: rgba(25, 25, 25, 0.5);
		gap: 20px;
		height: 80%;
		justify-content: center;
		width: 30%;
		padding: 2%;
		box-sizing: border-box;

		& input {
			padding: 10px;
		}

		& button {
			background: green;
			color: white;
		}
	}

	& #error {
		color: red;
	}

	& #answer {
		color: rgb(4, 17, 9);
		background-color: rgb(230, 247, 156);
	}

	& #question {
		color: #fcfcfc;
	}
}

button {
	padding: 10px 30px;
	background: white;
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 16px;
	letter-spacing: 0.1rem;
	font-weight: 600;
}
