@use "../../tools";

.room {
	@include tools.flex_center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	background-color: rgb(179, 218, 136);
	& > button {
		color: rgb(255, 255, 255);
		background-color: rgb(86, 104, 5);
	}
}
